.home-container {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
    gap: clamp(1rem, -0.0685rem + 4.7487vw, 5.63rem);
    justify-content: center;
}

.hc-intro {
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    align-self: center;
}

.home-container .hc-intro h1 {
    width: fit-content;
    display: inline-block;
}

.home-container .hc-intro p {
    margin-top: 0;
    width: fit-content;
}

.home-container .hc-intro a {
    text-decoration: none;
}

.home-container .hc-home-girl-img {
    width: clamp(15.75rem, 11.8412rem + 17.3723vw, 32.688rem);
    align-self: center;
}

.home-container img,
.home-container img:before,
.home-container img:after { 
    width: 100%;
    height: 100%;
    transition: all 0.2s linear;
}

.home-container img:hover {
    transform: scale(1.02);
}

.arrow-down {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    width: 100%;
}

#arrow,
#arrow:before,
#arrow:after {
    transition: all 0.2s linear;
}

#arrow:hover {
    transform: scale(1.2);  
}