nav {
    margin-top: clamp(1.25rem, 0.8162rem + 1.9282vw, 3.13rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Cormorant Garamond', sans-serif;
}

nav a {
    text-decoration-line: none;
}

/* Frame transition for the brand*/
.brand {
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: var(--headerColor);
    margin-left: 6.25rem;
    padding: 0.3rem 0.8rem;
    text-decoration: underline;
}

.brand:after,
.brand:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid transparent;
    transition: all 0.5s;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.brand:after {
    top: -2px;
    left: -2px;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
}

.brand:before {
    bottom: -2px;
    right: -2px;
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
}

.brand:hover:before,
.brand:hover:after {
    width: 100%;
    height: 100%;
}

.brand:hover:after {
    top: 0px;
    left: 0px;
    border-top: 3px solid var(--primaryColor);
    border-left: 3px solid var(--primaryColor);
}

.brand:hover:before {
    bottom: 0px;
    right: 0px;
    border-bottom: 3px solid var(--primaryColor);
    border-right: 3px solid var(--primaryColor);
}

/* Style for menu links*/
nav li {
    list-style: none;
}

nav ul {
    display: flex;
    margin-right: 4.56rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: var(--headerColor);
    font-size: clamp(1.25rem, 0.7500rem + 2.2222vw, 1.5rem);
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-decoration: none;
    padding-left: 1.69rem;
    padding-right: 1.69rem;
    padding-bottom: 0.3rem;
}

/* Underline transition for menu links*/
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all 0.5s;
}

nav ul li a:hover {
    color: var(--headerColor);
    text-decoration: none;
}

nav.underline ul li a {
    position: relative;
}

nav.underline ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--primaryColor);
    height: 3px;
}

nav.underline ul li a:hover:after {
    width: 70%;
}

/* Styling for hamburger menu and transitions*/
nav .menu {
    position: absolute;
    top: clamp(1.25rem, 0.8162rem + 1.9282vw, 3.13rem);
    right: 6.25rem;
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 1rem;
    width: 1.5rem;
    padding: 0.3rem 0.8rem;
}

nav .menu span {
    height: 0.12rem;
    width: 100%;
    background-color: var(--headerColor);
    transition: transform 0.3s ease-in-out;
}

nav .menu span#line-1 {
    transition: transform 0.3s ease-in-out;
    transform: translate(0, 0.22rem) rotate(45deg);
}

nav .menu span#line-2 {
    transition: transform 0.3s ease-in-out;
    transform: translate(0, -0.22em) rotate(-45deg);
}

nav .menu span#line-3 {
    visibility: hidden;
}

/* Styling for tablet*/
@media only screen and (max-width: 768px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 100%;
        height: fit-content;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 3rem;
        z-index: 9999;
    }

    nav ul.menu-clicked {
        display: flex;
        width: 100%;
        height: fit-content;
        background-color: var(--backgroundColor);
        transition: all 0.5s ease-in-out;
        opacity: 1;
        visibility: visible;
        border-bottom: 1px solid var(--backgroundColor);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: 0px 6px 6px 0px var(--menuShadowColor);
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        margin: 0.8rem 0.8rem;
    }

    nav.underline ul li a:hover:after {
        width: clamp(4rem, 1.3529rem + 11.7647vw, 6rem);
    }
}

/* Styling for mobile*/
@media only screen and (max-width: 540px) {
    .brand {
        margin-left: 1.25rem;
    }

    nav .menu {
        right: 1.25rem;
        transition: 0.5s ease-in-out;
    }
}