@import url('https://fonts.googleapis.com/css2?family=Arapey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

:root{
  --headerColor: #5F493E;
  --textColor: #000;
  --mainBgColor: #FFF6EB;
  --primaryColor: #E9C4B1;
  --secondaryColor: #8CD7D2;
}

body {
  margin: 0;
  font-family: 'Unna', sans-serif;
  background-color: var(--mainBgColor);
}
