.about-me-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: clamp(1rem, 0.4231rem + 2.5641vw, 3.5rem);
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 1.5625rem;
    background: var(--primaryColor);
    box-shadow: 0px 0px 15px 0px var(--rectangleShadowColor);
    padding: clamp(2.5rem, 2.3846rem + 0.5128vw, 3rem) clamp(1.25rem, 0.1538rem + 4.8718vw, 6rem);
    scroll-margin-block-start: clamp(3rem, 2.0769rem + 4.1026vw, 7rem);
    scroll-margin-block-end: clamp(3rem, 2.0769rem + 4.1026vw, 7rem);
}

.am-content {
    flex: 1 1 20rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.9375rem;
    align-content: center;
    padding: clamp(0rem, -0.4615rem + 2.0513vw, 2rem) 0;
} 

.about-me-container .am-about-me-img {
    width: clamp(15.813rem, 11.8899rem + 17.4359vw, 32.813rem);
    align-self: center;
}

.about-me-container .am-content h1 {
    color: var(--textColor);
    font-weight: 400;
    width: fit-content;
}

.about-me-container .am-content ul {
    display: inline-block;
    padding-right: clamp(1rem, 0.3077rem + 3.0769vw, 4rem);
    margin-top: 0;
    margin-bottom: 0;
}

.about-me-container .am-content li {
    font-family: Unna;
    font-size: clamp(1rem, 0.9423rem + 0.2564vw, 1.25rem);
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
}

@media only screen and (max-width: 350px) {
    .about-me-container .am-content ul {
        padding-right: clamp(1rem, 0.3077rem + 3.0769vw, 4rem);
        margin-top: 0;
    }
}
